<html>

<body style="background:cadetblue ">
  <div class="container">
    <form #scholarshipForm="ngForm"  ngNativeValidate class="form-horizontal" #regForm="ngForm">
      <!--Heading-->
      <h2 style="text-align:center;">SCHOLARSHIP APPLICATION FORM</h2>

      <h3 style="text-align:center;">BASIC DETAILS</h3>

      <!--Aadhar No.-->
      <div class="form-group" [class.has-error]="aadharNoControl.invalid && aadharNoControl.touched">
        <label class="col-sm-3 control-label">Aadhar No <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="adharNo" name="adharNo" [(ngModel)]="scholarships.adharNo" #aadharNoControl="ngModel"
            placeholder="Enter your adharNo number" class="form-control" required minlength=12 maxlength=12
            (keypress)="keyPress($event)" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="aadharNoControl.invalid && aadharNoControl.touched">Aadhar No is Mandatory</span>
        </div>
      </div>

      <!--Religion-->
      <div class="form-group" [class.has-error]="religionControl.invalid && religionControl.touched">
        <label class="col-sm-3 control-label" required>Religion <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="religionList" [(ngModel)]="scholarships.religion" #religionControl="ngModel" class="form-control" autofocus required>
            <option value="OBC">Obc</option>
            <option value="SC">SC</option>
            <option value="ST">ST</option>
            <option value="Open">Open</option>
            <option value="Other">Other</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="religionControl.invalid && religionControl.touched">Select suitable option</span>
        </div>
      </div>

      <!--Community Category-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Community Category:</label>
        <div class="col-sm-12">
          <input type="text" pattern="[a-zA-Z]*" id="communityCategory" name="communityCategory"
            [(ngModel)]="scholarships.communityCategory" title="enter only alphabets"
            placeholder="Enter your community category" class="form-control">
        </div>
      </div>


      <!--Father Name -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Father Name:</label>
        <div class="col-sm-12">
          <input type="text" id="fatherName" pattern="[a-zA-Z]*" title="enter only alphabets" name="fatherName"
            class="form-control" placeholder="Enter Father's Name" maxlength="50" [(ngModel)]="scholarships.fatherName" >
        </div>
      </div>

      <!--Mother Name -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Mother Name:</label>
        <div class="col-sm-12">
          <input type="text" id="motherName" pattern="[a-zA-Z]*" title="enter only alphabets" name="motherName"
            class="form-control"  placeholder="Enter Mother's Name"  maxlength="50" [(ngModel)]="scholarships.motherName" >
        </div>
      </div>

      <!--Family Annual Income-->
      <div class="form-group"  [class.has-error]="familyIncomeControl.invalid && familyIncomeControl.touched">
        <label class="col-sm-3 control-label">Family Annual Income <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="familyAnnualIncome" name="familyAnnualIncome"
            [(ngModel)]="scholarships.familyAnnualIncome" #familyIncomeControl="ngModel" placeholder="Enter your family annual income"
            class="form-control" required (keypress)="keyPress($event)" minlength="5" maxlength="7" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="familyIncomeControl.invalid && familyIncomeControl.touched">Enter your Family Annual Income</span>
        </div>
      </div>

      <h3>ACADEMIC DETAILS</h3>

      <!--Institute Name-->
      <div class="form-group" [class.has-error]="instituteNameControl.invalid && instituteNameControl.touched">
        <label class="col-sm-3 control-label">Institute Name <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="instituteName" [(ngModel)]="scholarships.instituteName" #instituteNameControl="ngModel" class="form-control" autofocus required>
            <option value="SINHAGAD INSTITUTE">SINHAGAD INSTITUTE</option>
            <option value="DY PATIL INSTITUTE">DY PATIL INSTITUTE</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="instituteNameControl.invalid && instituteNameControl.touched">Select suitable option</span>
        </div>
      </div>


      <!--Present Class/Course-->
      <div class="form-group"  [class.has-error]="presentClassControl.invalid && presentClassControl.touched">
        <label class="col-sm-3 control-label">Present Class/Course <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="presentCourse" name="presentCourse" [(ngModel)]="scholarships.presentCourse" #presentClassControl="ngModel"
            placeholder="Enter your present class" class="form-control" pattern="[a-zA-Z]*"  maxlength="50" title="enter alphabets only"
            autofocus required>
            <span style="color:red;" class="help-block" *ngIf="presentClassControl.invalid && presentClassControl.touched">Enter Present Course</span>
        </div>
      </div>

      <!--Present Class/Course Year -->

      <div class="form-group">
        <label class="col-sm-3 control-label">Present Class/Course Year</label>
        <div class="col-sm-12">
          <input type="text" id="presentClassYear" name="presentClassYear" [(ngModel)]="scholarships.presentClassYear"
            minlength=4 maxlength=4 placeholder="Enter your present course year" class="form-control"
            (keypress)="keyPress($event)" >
        </div>
      </div>

      <!--Mode of Study-->
      <div class="form-group" [class.has-error]="modeOfStudyControl.invalid && modeOfStudyControl.touched">
        <label class="col-sm-3 control-label" required>Mode of Study<span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="modeOfStudy" [(ngModel)]="scholarships.modeOfStudy" #modeOfStudyControl="ngModel" class="form-control"  autofocus required>
            <option value="FullTime">FullTime</option>
            <option value="PartTime">Part Time</option>
            <option value="Corespondance">Other</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="modeOfStudyControl.invalid && modeOfStudyControl.touched">Select suitable option</span>
        </div>
      </div>

      <!--Class Start Date -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Class Start Date:</label>
        <div class="col-sm-12">
          <input type="DATE" id="clsStartDate" name="classStartDate" class="form-control"
            placeholder="Enter your class start date" [(ngModel)]="scholarships.classStartDate"
            (keypress)="keyPress($event)">
        </div>
      </div>

      <!--University/Board Name-->
      <div class="form-group" [class.has-error]="universityNameControl.invalid && universityNameControl.touched">
        <label class="col-sm-3 control-label">University/Board Name <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="universityBoardName" name="universityBoardName"
            [(ngModel)]="scholarships.universityBoardName" #universityNameControl="ngModel" placeholder="Enter your University/Board Name"
            class="form-control" pattern="[a-z A-Z]*"  maxlength="50" title="enter only alphabets" autofocus required >
            <span style="color:red;" class="help-block" *ngIf="universityNameControl.invalid && universityNameControl.touched">Enter your University name</span>
        </div>
      </div>

      <!--Previous Class/Course -->

      <div class="form-group" [class.has-error]="prevCourseControl.invalid && prevCourseControl.touched">
        <label class="col-sm-3 control-label">Previous Class/Course <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="previousClassCourse" name="previousClassCourse"
            [(ngModel)]="scholarships.previousClassCourse" #prevCourseControl="ngModel" placeholder="Enter your previous course" pattern="[a-z A-Z]*"
            maxlength="50" class="form-control" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="prevCourseControl.invalid && prevCourseControl.touched">Enter your previous Course</span>
        </div>
      </div>

      <!--Previous Passing Year -->

      <div class="form-group">
        <label class="col-sm-3 control-label">Previous Passing Year</label>
        <div class="col-sm-12">
          <input type="text" id="previousPassingYear" name="previousPassingYear"
            [(ngModel)]="scholarships.previousPassingYear" minlength=4 maxlength=4
            placeholder="Enter your previous course passing year" class="form-control" (keypress)="keyPress($event)">
        </div>
      </div>

      <!--Previous Class % -->

      <div class="form-group" [class.has-error]="prevClassPercentControl.invalid && prevClassPercentControl.touched">
        <label class="col-sm-3 control-label">Previous Class %: <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="previousClass%" name="previousClass%" [(ngModel)]="scholarships.previousClassPercent" #prevClassPercentControl="ngModel"
            placeholder="Enter your previous class % eg : 69.78" class="form-control" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="prevClassPercentControl.invalid && prevClassPercentControl.touched">Enter % obtained in previous class</span>
        </div>
      </div>

      <h3>10TH CLASS</h3>

      <!--Roll No -->
      <div class="form-group" [class.has-error]="tenRollNoControl.invalid && tenRollNoControl.touched">
        <label class="col-sm-3 control-label">Roll No <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="tenrollNo" name="tenrollNo" [(ngModel)]="scholarships.tenthRollNo" #tenRollNoControl="ngModel"
            placeholder="Enter your 10th class roll No " class="form-control" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="tenRollNoControl.invalid && tenRollNoControl.touched">Enter 10th class Roll No.</span>
        </div>
      </div>

      <!--Board Name-->
      <div class="form-group" [class.has-error]="tenBoardNameControl.invalid && tenBoardNameControl.touched">
        <label class="col-sm-3 control-label">Board Name <span style="color:red">*</span> </label>
        <div class="col-sm-12">
          <input type="text" id="tenboardName" name="tenboardName" [(ngModel)]="scholarships.tenthBoardName" #tenBoardNameControl="ngModel"
            placeholder="Enter your Board Name" class="form-control" pattern="[a-z A-Z]*"  maxlength="80" title="enter alphabets only" autofocus required >
            <span style="color:red;" class="help-block" *ngIf="tenBoardNameControl.invalid && tenBoardNameControl.touched">Enter your 10th board name</span>
        </div>
      </div>

      <!--Passing Year-->

      <div class="form-group" [class.has-error]="tenPassYearControl.invalid && tenPassYearControl.touched">
        <label class="col-sm-3 control-label">Passing Year <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="tenpassingYear" name="tenpassingYear" [(ngModel)]="scholarships.tenthPassingYear" #tenPassYearControl="ngModel" minlength=4
            maxlength=4 placeholder="Enter your 10th class passing year" class="form-control"
            (keypress)="keyPress($event)" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="tenPassYearControl.invalid && tenPassYearControl.touched">Enter your 10th Passing Year</span>
        </div>
      </div>

      <!--% Obtained in 10th -->

      <div class="form-group" [class.has-error]="tenMarksObtControl.invalid && tenMarksObtControl.touched">
        <label class="col-sm-3 control-label">% Obtained <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="ten%Obtained" name="ten%Obtained" [(ngModel)]="scholarships.tenthPercentObtained" #tenMarksObtControl="ngModel"
            placeholder="Enter your 10th Class % eg : 68.79" class="form-control" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="tenMarksObtControl.invalid && tenMarksObtControl.touched">Enter 10th class %</span>
        </div>
      </div>


      <h3>12TH CLASS</h3>

      <!--Roll No -->
      <div class="form-group" [class.has-error]="twelveRollNoControl.invalid && twelveRollNoControl.touched">
        <label class="col-sm-3 control-label">Roll No <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="tewlverollNo" name="twelverollNo" [(ngModel)]="scholarships.twelvthrollNo" #twelveRollNoControl="ngModel"
            placeholder="Enter your 12th class roll No " class="form-control" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="twelveRollNoControl.invalid && twelveRollNoControl.touched">Enter 12th class Roll No.</span>
        </div>
      </div>

      <!--Board Name-->
      <div class="form-group" [class.has-error]="twelveBoardNameControl.invalid && twelveBoardNameControl.touched">
          <label class="col-sm-3 control-label">Board Name <span style="color:red">*</span> </label>
          <div class="col-sm-12">
            <input type="text" id="twelveboardName" name="twelveboardName" [(ngModel)]="scholarships.twelvthBoardName" #twelveBoardNameControl="ngModel"
              placeholder="Enter your Board Name" class="form-control" pattern="[a-z A-Z]*"  maxlength="80" title="enter alphabets only" autofocus required >
              <span style="color:red;" class="help-block" *ngIf="twelveBoardNameControl.invalid && twelveBoardNameControl.touched">Enter your 12th board name</span>
          </div>
        </div>

      <!--Passing Year-->

      <div class="form-group" [class.has-error]="twelvePassYearControl.invalid && twelvePassYearControl.touched">
          <label class="col-sm-3 control-label">Passing Year <span style="color:red">*</span></label>
          <div class="col-sm-12">
            <input type="text" id="twelvepassingYear" name="twelvepassingYear" [(ngModel)]="scholarships.twelvthPassingYear" #twelvePassYearControl="ngModel" minlength=4
              maxlength=4 placeholder="Enter your 10th class passing year" class="form-control"
              (keypress)="keyPress($event)" autofocus required>
              <span style="color:red;" class="help-block" *ngIf="twelvePassYearControl.invalid && twelvePassYearControl.touched">Enter your 10th Passing Year</span>
          </div>
        </div>

      <!--% Obtained in 12th-->

      <div class="form-group" [class.has-error]="twelveMarksObtControl.invalid && twelveMarksObtControl.touched">
        <label class="col-sm-3 control-label">% Obtained <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="twelve%Obtained" name="twelve%Obtained" [(ngModel)]="scholarships.twelvthpercentObtained" #twelveMarksObtControl="ngModel"
            placeholder="Enter your 12th Class % eg : 68.79" class="form-control" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="twelveMarksObtControl.invalid && twelveMarksObtControl.touched">Enter 12th class %</span>
        </div>
      </div>

      <h3>Fee Details</h3>

      <!--Admission Fee -->
      <div class="form-group" [class.has-error]="admissionFeeControl.invalid && admissionFeeControl.touched">
        <label for="admissionFee" class="col-sm-3 control-label">Admission Fee <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="admissionFee" name="admissionFee" [(ngModel)]="scholarships.admissionFee" #admissionFeeControl="ngModel"
            placeholder="Enter your admission fee" class="form-control" (keypress)="keyPress($event)"  maxlength="10" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="admissionFeeControl.invalid && admissionFeeControl.touched">Enter Admission Control</span>
        </div>
      </div>

      <!--Tution Fee -->
      <div class="form-group" [class.has-error]="tutionFeeControl.invalid && tutionFeeControl.touched">
        <label for="tutionFee" class="col-sm-3 control-label">Tution Fee <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="tutionFee" name="tutionFee" [(ngModel)]="scholarships.tutionFee" #tutionFeeControl="ngModel"
            placeholder="Enter your tution fee" class="form-control" (keypress)="keyPress($event)"  maxlength="10" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="tutionFeeControl.invalid && tutionFeeControl.touched">Enter tution fee</span>
        </div>
      </div>

      <!--Other Fee -->

      <div class="form-group">
        <label for="otherFee" class="col-sm-3 control-label">Other Fee:</label>
        <div class="col-sm-12">
          <input type="text" id="otherFee" name="otherFee" [(ngModel)]="scholarships.otherFee"
            placeholder="Enter other fee if any" class="form-control" (keypress)="keyPress($event)" maxlength="10">
        </div>
      </div>

      <h3>OTHER PERSONAL DETAILS</h3>

      <!--Is Disabled-->

      <div class="form-group" [class.has-error]="disabilityControl.invalid && disabilityControl.touched">
        <label class="col-sm-3 control-label">Is Disabled <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="disabilityList" [(ngModel)]="scholarships.disability" #disabilityControl="ngModel" class="form-control" autofocus required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="disabilityControl.invalid && disabilityControl.touched">Select suitable option</span>
        </div>
      </div>

      <!--Type of Disability -->
      <div class="form-group" [class.has-error]="disabilitytypeControl.invalid && disabilitytypeControl.touched">
        <label for="disabilityType" class="col-sm-3 control-label">Type of Disability <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="disabilityType" name="disabilityType" [(ngModel)]="scholarships.disabilityType" #disabilitytypeControl="ngModel"
            placeholder="Enter disability type" class="form-control" maxlength="80" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="disabilitytypeControl.invalid && disabilitytypeControl.touched">Enter Disability Type</span>
        </div>
      </div>

      <!--Percentage of Disability-->
      <div class="form-group">
        <label class="col-sm-3 control-label">% Of Disability </label>
        <div class="col-sm-12">
          <input type="text" id="%OfDisability" name="%OfDisability" [(ngModel)]="scholarships.percentOfDisability"
            placeholder="Enter your disability % eg : 30" minlength="2" maxlength="2" class="form-control" >
        </div>
      </div>

      <!--Marital Status-->

      <div class="form-group"  [class.has-error]="maritalStatusControl.invalid && maritalStatusControl.touched">
        <label class="col-sm-3 control-label">Marital Status <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="maritalStatusList" [(ngModel)]="scholarships.maritalStatus" #maritalStatusControl="ngModel" autofocus required>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
            <option value="single">Single</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="maritalStatusControl.invalid && maritalStatusControl.touched">Select suitable option</span>
        </div>
      </div>


      <!--Parents Profession -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Parents Profession </label>
        <div class="col-sm-12">
          <input type="text" id="parentsProfession" pattern="[a-z A-Z]*" title="enter alphabets only"
            name="parentsProfession"  maxlength="80" placeholder="Enter your parent's profession"
            [(ngModel)]="scholarships.parentsProfession" class="form-control" >
        </div>
      </div>

      <h3>CONTACT DETAILS</h3>

      <!--State-->
      <div class="form-group" [class.has-error]="studentStateControl.invalid && studentStateControl.touched">
        <label class="col-sm-3 control-label">State <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="stateslist" [(ngModel)]="scholarships.state" #studentStateControl="ngModel" autofocus required>
            <option value="andaman">ANDAMAN AND NICOBAR</option>
            <option value="maharashtra">MAHARASHTRA</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="studentStateControl.invalid && studentStateControl.touched">Select suitable option</span>
        </div>
      </div>

      <!--DISTRICT-->
      <div class="form-group"  [class.has-error]="studentDistrictControl.invalid && studentDistrictControl.touched">
        <label class="col-sm-3 control-label">District <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <select name="districtlist" [(ngModel)]="scholarships.district" #studentDistrictControl="ngModel" autofocus required>
            <option value="Mumbai">Mumbai</option>
            <option value="Pune">Pune</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="studentDistrictControl.invalid && studentDistrictControl.touched">Select suitable option</span>
        </div>
      </div>

      <!--Block/Taluka-->
      <div class="form-group">
        <label class="col-sm-3 control-label">Block/Taluka:</label>
        <div class="col-sm-12">
          <select name="talukalist" [(ngModel)]="scholarships.blockOrTaluka">
            <option value=""></option>
            <option value="Haveli">Mumbai</option>
          </select>
        </div>
      </div>

      <!--House No-->
      <div class="form-group" [class.has-error]="houseNoControl.invalid && houseNoControl.touched">
        <label class="col-sm-3 control-label">House No <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="houseNo" name="houseNo" [(ngModel)]="scholarships.houseNo" #houseNoControl="ngModel" placeholder="Enter House No"
            class="form-control" minlength="5" maxlength="10" (keypress)="keyPress($event)" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="houseNoControl.invalid && houseNoControl.touched">Enter House No.</span>
        </div>
      </div>

      <!--Street No-->
      <div class="form-group" [class.has-error]="streetNoControl.invalid && streetNoControl.touched">
        <label class="col-sm-3 control-label">Street No <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="streetNo" name="streetNo" [(ngModel)]="scholarships.streetNo" #streetNoControl="ngModel"
            placeholder="Enter Street No" class="form-control" minlength="5" maxlength="10" (keypress)="keyPress($event)" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="streetNoControl.invalid && streetNoControl.touched">Enter Street No.</span>
        </div>
      </div>

      <!--Pincode-->
      <div class="form-group" [class.has-error]="pincodControl.invalid && pincodControl.touched">
        <label class="col-sm-3 control-label">Pincode <span style="color:red">*</span></label>
        <div class="col-sm-12">
          <input type="text" id="pinCode" name="pinCode" [(ngModel)]="scholarships.pinCode" #pincodControl="ngModel" placeholder="Enter Pincode"
            class="form-control" minlength="6" maxlength="6" (keypress)="keyPress($event)" autofocus required>
            <span style="color:red;" class="help-block" *ngIf="pincodControl.invalid && pincodControl.touched">Pincode is mandatory</span>
        </div>
      </div>
      <br>



      <!--Choose scheme-->
      <h3> CHOOSE SCHEME APPLYING FOR:</h3>
      <div class="form-group" [class.has-error]="schemeControl.invalid && schemeControl.touched">
        <div class="col-sm-12">
          <select name="schemelist" [(ngModel)]="scholarships.scheme" #schemeControl="ngModel" autofocus required>
            <option value=""></option>
            <option value="scholarshipForGirls">Scholarship for Girls</option>
            <option value="scholarshipBasedOnMerit">Scholarship based on Merit</option>
            <option value="post matric scholarship">Post Matric Scholarship</option>
          </select>
          <span style="color:red;" class="help-block" *ngIf="schemeControl.invalid && schemeControl.touched">Select suitable option</span>
        </div>
      </div>
      <br>

      <!--document upload-->
      <h3>DOCUMENT UPLOAD SECTION</h3>

      <!--Domicile certificate-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            DOMICILE CERTIFICATE <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;" autofocus required>
          </div>
        </div>
      </div>

      <!-- STUDENT PHOTOGRAPH-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            STUDENT PHOTOGRAPH: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;" autofocus required>
          </div>
        </div>
      </div>

      <!--INSTITUTE ID CARD:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            INSTITUTE ID CARD: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;" autofocus required>
          </div>

        </div>
      </div>

      <!--CASTE/INCOME CERTIFICATE:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            CASTE/INCOME CERTIFICATE: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <!--CASTE/INCOME CERTIFICATE:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            CASTE/INCOME CERTIFICATE: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <!--PREVIOUS YEAR MARKSHEET:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            PREVIOUS YEAR MARKSHEET: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <!--FEE RECEIPT OF CURRENT YEAR:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            FEE RECEIPT OF CURRENT YEAR: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <!--BANK PASSBOOK(FRONT PAGE):-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            BANK PASSBOOK(FRONT PAGE): <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <!--ADHAR CARD:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            ADHAR CARD: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>
        </div>
      </div>

      <!--10TH CLASS MARKSHEET:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            10TH CLASS MARKSHEET: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <!--12TH CLASS MARKSHEET:-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            12TH CLASS MARKSHEET: <label><span style="color:red">*</span></label>
          </div>
          <div class="col-sm-3">
            <input type="file" class="btn btn-primary" style="font: bold 14px Arial;"autofocus required>
          </div>

        </div>
      </div>

      <br>
      <br>

      <!--Agreement-->
      <div class="form-group">
        <div class="col-sm-12">
          <input type="checkbox" [(ngModel)]="checkBox" name="read" value="read"> ALL THE DETAILS FURNISHED BY ME ARE
          TRUE
          TO THE BEST OF MY KNOWLEDGE IF ANY MISTAKES ARE FOUND THEN I MAY BE DISQUALIFIED FOR THE SCHOLARSHIP SCHEME
          ANNOUNCED BY GOVERNMENT OF INDIA OR MY STATE GOVERNMENT.
          <br>
        </div>
        <p style="color:red;position: relative;left:1.2%;">{{array['msg']}} </p>
      </div>
      <br>
      <br>

      <!--SUBMIT-->
      <div class="form-group">
        <input type="submit" (click)="check(regform)" class="btn btn-primary btn-lg btn-block" [disabled]="scholarshipForm.invalid"><br>
        <button type="reset" class="btn btn-primary" id="reset-btn" ng-click="reset()">Reset</button><br><br>
      </div>


    </form>
  </div>
</body>

</html>